/*General styles*/

.text-no-decoration:hover{
    text-decoration: none;
}
.text-bold {
    font-weight: bold !important;
}

.info {
    background-color: #0088cc !important;
    color:white;
    font-weight: bold;
}

.inactivo , .activo {
    text-transform: uppercase;
}

.inactivo {
    background-color: #d2322d;
}

.activo {
    background-color: #47a447;
}

/*IMAGES*/

.category-image{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
